* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/** HEADER */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #874c8e;
  background-color: #35424a;
  padding: 20px;
  color: white;
  font-size: 20px;
}


span {
  color: #874c8e;
}

div.url a {
  text-decoration: none;
  align-content: space-between;
  margin: 8px;
  color: white;
  font-size: 15px;
}
div.url a:hover {
  cursor: pointer;
  color: #874c8e;
}

div.container1 {
  display: flex;
  justify-content: end;
  background-color: #35424a;
  padding: 20px;
  color: white;
  font-size: 14px;
  justify-content: space-between;
  
}

button {
  background-color: rgb(231, 50, 50);
  border: none;
  padding: 6px;
  color: white;
  font-size: 12px;
}
input {
  margin-right: 5px;
  padding: 5px;
  padding-left: 70px;
  border: none;
}

button,
input:hover {
  cursor: pointer;
}



/** HEADER */


main{
  display: flex;
 justify-content: space-evenly;
 align-items:flex-end;
 justify-content: center;
 margin-left: 33px; 
}

div.what{

  background-color: #35424a;
  padding: 22px;
  margin: 60px;
  color: white;
}

p.aboutUs{
  background-color: #35424a;
  color: white;
 
  padding: 15px;
 

}


/** FOOTER */

footer {
  background-color: #35424a;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  color: white;
  font-size: 17px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  
  

  
}
.imgClarusway{
width: 175px;
margin-top: 10px;
} 